<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.6">
        <title>Believe It</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" type="text/css">
    </head>
    <body>
        <div class="main-wrapper">
            <div class = sub-wrapper>
                <h1 class = "heading">Believe It Or Not</h1>
                <h1 class = "subheading">Dismantling misinformation one step at a time.</h1>
                <h1 class = "newspaper">📰</h1>
                <a class = "start-button" href = "/verify">get started</a>
                <h2 class = "developer-credit">Developed by 
                    <a target="_blank" href="https://github.com/mansehajsingh">Mansehaj Singh</a> ☕</h2>
            </div>
        </div>
    </body>
</html>