<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.6">
        <title>Verify | Believe It</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" type="text/css">
    </head>
    <body>
        <div class="main-wrapper">
            <div class = sub-wrapper>
                <div class = "navbar">
                    <ul class = "navlist">
                        <li><a href = "#">About</a></li>
                        <li><a href = "#">Verify Article</a></li>
                        <li><a href = "#">Contact</a></li>
                    </ul>
                </div>
                <h1 class = "heading">Verify Article</h1>
                <h1 class = "subheading">Let's analyze the credibility of your source with machine learning. ✅</h1>
                <textarea id="articletext" name= "articletext" cols=70 rows = 30 placeholder="Article Text"></textarea>
            </div>
        </div>
    </body>
</html>